<div class="card card-block comment">
  <div class="row">
    <div class="col-md-2">
      <%= gravatar_helper comment.user %>
    </div>
    <div class="col-md-10">
      <div class="content">
        <%= comment.content %>
      </div>
      <div class="user-info">
        Posted by <span class="user-name"><%= comment.user.name %></span> <%= distance_of_time_in_words comment.created_at, Time.now %> ago.
      </div>
    </div>
  </div>
</div>
