<h1>Portfolio Items</h1>
<div>
  <% @portfolio_items.each do |item| %>
  <div>
    <div><%= item.title %></div>
    <div><%= item.subtitle %></div>
    <div><%= item.body %></div>
    <%=  image_tag item.thumb_image if item.thumb_image? %>
  </div>
  <% end %>
</div>