<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Nathan Schulzke</h3>
    <nav class="nav nav-masthead">
      <%= nav_helper do |title, link|
        link_to title, link, class: "nav-link #{active? link}"
      end %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>
