<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <%= nav_helper do |title, link|
        link_to title, link, class: "nav-link #{active? link}"
      end %>
      <%= login_helper 'nav-link' %>
    </nav>
  </div>
</div>