<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">My Blog</h1>
    <%= link_to 'New Post', new_post_path if logged_in?(:site_admin) %>
    <p class="lead blog-description">An example blog template built with Bootstrap.</p>
  </div>
</div>