<h1>About</h1>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "http://via.placeholder.com/300x300", alt: "Profile Placeholder" %>
  </div>
  <div class="col-md-8">
    <p>This is going to be a short bio on me, a description of sorts. But for now, it's a placeholder.</p>
  </div>
</div>
