<div class="inner cover">
  <h1 class="cover-heading">Welcome!</h1>
  <p class="lead">This is a practice website to learn Ruby on Rails. Once it's done I'll be putting together my actual site, but for now, it looks like you landed here!</p>
  <p class="lead">
    <%= link_to "Learn more", about_path, class: 'btn btn-lg btn-secondary' %>
  </p>
</div>